@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-border: #f5e614;
  --neon-border-glow: #b20c20;
  --neon-text: #e1fffe;
  --neon: #51e9f0;

  --TikTok-teal: hsl(178deg, 90%, 55%);
  --TikTok-red: hsl(348deg, 99%, 58%);

  --dark: hsl(0deg, 0%, 5%);
  --light: hsl(0deg, 0%, 100%);
}

body {
  
  color: white;
  background: linear-gradient(180deg, rgba(18, 21, 38, 0) 4.88%, #121526), radial-gradient(100% 206.64% at 100% 0, #464c78 0, #454b77 31.27%, #373d66 46.34%, #2e3259 63.27%, #2b2f54 70.87%, #202446 83.85%, #1e2038 100%);
 
}

.bgs{
  background: linear-gradient(180deg, rgba(18, 21, 38, 0) 4.88%, #121526), radial-gradient(100% 206.64% at 100% 0, #464c78 0, #454b77 31.27%, #373d66 46.34%, #2e3259 63.27%, #2b2f54 70.87%, #202446 83.85%, #1e2038 100%);
}

.but{
  background: linear-gradient(90deg, rgb(70, 178, 167) 0%, rgb(51, 151, 242) 80%);
}

.clr{
  color: linear-gradient(90deg, rgb(70, 178, 167) 0%, rgb(51, 151, 242) 80%);
}

.Nave{
  
  
  z-index: 9999;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.neons > div {
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
}

/* ────────────────────────────────────────────────── */
/* Overlay Text - White - Soft Stutter/Glitch */

.neons > div:nth-of-type(3) {
  color: var(--light);
  animation: glitch 0.2s 1.25s infinite, glitch-2 1.6s 1.1s infinite;
}

.neons > div:nth-of-type(3)::before {
  content: attr(data-text);
  text-shadow: -5px 0 var(--TikTok-red);
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 7s infinite;
}

.neons > div:nth-of-type(3)::after {
  content: attr(data-text);
  text-shadow: -4px 0 var(--TikTok-teal);
  animation: noise-2 1s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

/* Soft stutter + flickering brightness + teal and red flash */
@keyframes soft {
  0% {
    transform: skew(-0.4deg, -0.2deg);
    opacity: 0.9;
  }
  20% {
    transform: none;
    opacity: 1;
    filter: brightness(1.1) hue-rotate(100deg);
  }
  40% {
    transform: skew(0.09deg, -0.1deg);
    opacity: 0.85;
  }
  60% {
    transform: none;
    opacity: 1;
    filter: brightness(1.1) hue-rotate(220deg);
  }
  80% {
    transform: skew(0.4deg, -0.2deg);
    opacity: 0.9;
  }
  100% {
    transform: none;
    opacity: 1;
    filter: none;
  }
}

/* ────────────────────────────────────────────────── */
/* First Mask Layer - Red - Stutter Down/Right */

.neons > div:nth-of-type(2) {
  color: var(--TikTok-red);
  text-shadow: 0px 0px 0.1em var(--TikTok-red);
  animation: right-stutter infinite 3s;
}

/* Down/right stutter + flickering brightness + teal and red flash */
@keyframes right-stutter {
  0% {
    opacity: 0.75;
    transform: none;
  }
  25% {
    opacity: 1;
    transform: translate(4px, 4px);
  }
  75% {
    transform: none;
    opacity: 0.55;
  }
  100% {
    transform: skew(0.09deg, -0.1deg) translate(5px, 5px);
    opacity: 1;
    filter: brightness(1.3);
  }
}

/* ────────────────────────────────────────────────── */
/* Second Mask Layer - Teal - Stutter Up/Left */

.neons > div:nth-of-type(1) {
  color: var(--TikTok-teal);
  text-shadow: 0px 0px 0.25em var(--neon);
  animation: left-stutter infinite 2s;
}

/* Down/right stutter + flickering brightness + teal and red flash */
@keyframes left-stutter {
  0% {
    opacity: 1;
    transform: translate(-3px, -3px);
  }
  25% {
    opacity: 0.75;
    transform: none;
  }
  75% {
    transform: skew(0.09deg, -0.1deg) translate(-4px, -4px);
    opacity: 1;
    filter: brightness(1.3);
  }
  100% {
    transform: none;
    opacity: 0.55;
  }
}

/* ────────────────────────────────────────────────── */
/* VCR Glitch with Psuedo Elements */

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(60deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes glitch-2 {
  1% {
    transform: rotateX(-10deg) skewX(-80deg);
  }
  5% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  3.3333333333% {
    clip-path: inset(51px 0 28px 0);
  }
  6.6666666667% {
    clip-path: inset(64px 0 2px 0);
  }
  10% {
    clip-path: inset(40px 0 39px 0);
  }
  13.3333333333% {
    clip-path: inset(76px 0 13px 0);
  }
  16.6666666667% {
    clip-path: inset(62px 0 12px 0);
  }
  20% {
    clip-path: inset(49px 0 35px 0);
  }
  23.3333333333% {
    clip-path: inset(24px 0 52px 0);
  }
  26.6666666667% {
    clip-path: inset(52px 0 42px 0);
  }
  30% {
    clip-path: inset(48px 0 27px 0);
  }
  33.3333333333% {
    clip-path: inset(3px 0 70px 0);
  }
  36.6666666667% {
    clip-path: inset(93px 0 1px 0);
  }
  40% {
    clip-path: inset(30px 0 17px 0);
  }
  43.3333333333% {
    clip-path: inset(24px 0 60px 0);
  }
  46.6666666667% {
    clip-path: inset(15px 0 11px 0);
  }
  50% {
    clip-path: inset(91px 0 10px 0);
  }
  53.3333333333% {
    clip-path: inset(8px 0 4px 0);
  }
  56.6666666667% {
    clip-path: inset(75px 0 10px 0);
  }
  60% {
    clip-path: inset(25px 0 51px 0);
  }
  63.3333333333% {
    clip-path: inset(90px 0 4px 0);
  }
  66.6666666667% {
    clip-path: inset(55px 0 14px 0);
  }
  70% {
    clip-path: inset(60px 0 4px 0);
  }
  73.3333333333% {
    clip-path: inset(22px 0 3px 0);
  }
  76.6666666667% {
    clip-path: inset(56px 0 41px 0);
  }
  80% {
    clip-path: inset(96px 0 4px 0);
  }
  83.3333333333% {
    clip-path: inset(66px 0 6px 0);
  }
  86.6666666667% {
    clip-path: inset(81px 0 7px 0);
  }
  90% {
    clip-path: inset(65px 0 15px 0);
  }
  93.3333333333% {
    clip-path: inset(44px 0 35px 0);
  }
  96.6666666667% {
    clip-path: inset(38px 0 8px 0);
  }
  100% {
    clip-path: inset(60px 0 22px 0);
  }
}

@keyframes noise-2 {
  0% {
    clip-path: inset(71px 0 4px 0);
  }
  3.3333333333% {
    clip-path: inset(47px 0 19px 0);
  }
  6.6666666667% {
    clip-path: inset(73px 0 12px 0);
  }
  10% {
    clip-path: inset(20px 0 14px 0);
  }
  13.3333333333% {
    clip-path: inset(89px 0 4px 0);
  }
  16.6666666667% {
    clip-path: inset(49px 0 44px 0);
  }
  20% {
    clip-path: inset(50px 0 15px 0);
  }
  23.3333333333% {
    clip-path: inset(14px 0 69px 0);
  }
  26.6666666667% {
    clip-path: inset(59px 0 4px 0);
  }
  30% {
    clip-path: inset(80px 0 13px 0);
  }
  33.3333333333% {
    clip-path: inset(82px 0 3px 0);
  }
  36.6666666667% {
    clip-path: inset(39px 0 58px 0);
  }
  40% {
    clip-path: inset(28px 0 41px 0);
  }
  43.3333333333% {
    clip-path: inset(15px 0 59px 0);
  }
  46.6666666667% {
    clip-path: inset(100px 0 1px 0);
  }
  50% {
    clip-path: inset(75px 0 26px 0);
  }
  53.3333333333% {
    clip-path: inset(66px 0 19px 0);
  }
  56.6666666667% {
    clip-path: inset(16px 0 73px 0);
  }
  60% {
    clip-path: inset(77px 0 21px 0);
  }
  63.3333333333% {
    clip-path: inset(6px 0 28px 0);
  }
  66.6666666667% {
    clip-path: inset(95px 0 4px 0);
  }
  70% {
    clip-path: inset(78px 0 9px 0);
  }
  73.3333333333% {
    clip-path: inset(17px 0 22px 0);
  }
  76.6666666667% {
    clip-path: inset(45px 0 18px 0);
  }
  80% {
    clip-path: inset(32px 0 47px 0);
  }
  83.3333333333% {
    clip-path: inset(43px 0 6px 0);
  }
  86.6666666667% {
    clip-path: inset(38px 0 62px 0);
  }
  90% {
    clip-path: inset(8px 0 35px 0);
  }
  93.3333333333% {
    clip-path: inset(18px 0 32px 0);
  }
  96.6666666667% {
    clip-path: inset(47px 0 38px 0);
  }
  100% {
    clip-path: inset(21px 0 38px 0);
  }
}
.coin{
	z-index: 1;
}
.coins {
	position: absolute;
	z-index: 100;
	
	width: 250px;
	height: 250px;
	border-radius: 50%;
	box-shadow:
	  inset 0 0 50px #fff,
	  inset 20px 0 80px #f0f,
	  inset -20px 0 80px #0ff,
	  inset 20px 0 300px #f0f,
	  inset -20px 0 300px #0ff,
	  0 0 50px #fff,
	  -10px 0 80px #f0f,
	  10px 0 80px #0ff;
	  animation: pulse 2s infinite;
  }

  @keyframes pulse {
	0% {
	  transform: scale(1);
	  opacity: 1;
	}
	50% {
	  transform: scale(1.1);
	  opacity: 0.7;
	}
	100% {
	  transform: scale(1);
	  opacity: 1;
	}
  }

  .coin1{
    z-index: 1;
    transition: transform 0.2s;
  }
  .coins1 {
    position: absolute;
    z-index: 0;
    
    width: 240px;
    height: 240px;
    border-radius: 50%;
    box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff,
      0 0 50px #fff,
      -10px 0 80px #f0f,
      10px 0 80px #0ff;
      animation: pulse 2s infinite;
    }


    .coin2{
      z-index: 10;
      position: relative;
      transition: transform 0.2s;
      box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
        border-radius: 100%;

    }
    .coins2 {
      border-radius: 100%;
      z-index: 0;
      width: 230px;
      height: 230px;
      
      box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
        
      }

    .coin1.clicked {
      transform: scale(0.9);
    }
  
    @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
    }

    /*ini animasi buat flotingg number*/

    .earn-sec {
      position: relative;
    }
    
    .floating-number {
      position: absolute;
      width: 25px; /* Adjust the size as needed */
      height: 25px;
      animation: floatUpBackDown 3s ease-in-out forwards;
      pointer-events: none;
      z-index: 1000;
    }

@keyframes floatUpBackDown {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1.5);
  }
  25% {
    opacity: 0.9;
    transform: translateY(-100px) scale(1.2) translateZ(-50px);
  }
  50% {
    opacity: 0.3;
    transform: translateY(-75px) scale(1) translateZ(-100px);
  }
  75% {
    opacity: 0;
    transform: translateY(-30px) scale(0.8) translateZ(-150px);
  }
}

.tap-trail {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255, 221, 87, 0.5);
  border-radius: 50%;
  pointer-events: none;
  animation: tapTrail 1s ease-out forwards;
  z-index: 1000;
}

@keyframes tapTrail {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

    
    @keyframes pulseSlow {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
    
    .pulseInvite {
      animation: pulseSlow 2s ease-in-out;
    }

    .loader {
      border: 4px solid #f3f3f3; /* Light grey */
      border-top: 4px solid #1a45e1; /* Blue */
      border-radius: 50%;
      width: 25px;
      height: 25px;
      animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    .scroll-container {
      scroll-behavior: smooth;
      display: flex;
      overflow-x: auto;
      gap: 1rem;
      padding: 1rem 0;
      scroll-snap-type: x mandatory;
    }
    
    .scroll-item {
      flex: none;
      width: 100%; /* Pastikan setiap item mengambil seluruh lebar kontainer */
      height: 330px;
      background-color: #252321;
      border-radius: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2rem;
      scroll-snap-align: center;
    }
    
    .scroll-container::-webkit-scrollbar {
      display: none;
    }
    
    .dots .dot {
      cursor: pointer;
    }
    

    
    .slider {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
    
    .slide {
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .custom-slider-container {
      width: 100%;
      overflow: hidden;
    }
    
    .custom-slider {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
    
    .custom-slide {
      min-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    
/* styles.css */
@keyframes notificationPulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.08;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.notification-dot {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  animation: pulse 1s infinite;
}

.notification-dot.completed {
  background-color: green;
  animation: none;
  width: 14px;
  height: 14px;
}

.completed-check {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.coin-increment {
  animation: coinPop 0.3s ease-in-out;
}

@keyframes coinPop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
